h1{
    color: blue;
}

.custom-title {
    color: #2c3e50; /* A dark blue-gray color */
    padding: 20px;
    background-color: #ecf0f1; /* A light gray background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle box shadow */
  }